apiVersion: apps/v1
kind: Deployment
metadata:
  name: numaplane-controller-manager
  labels:
    app.kubernetes.io/name: controller-manager
    app.kubernetes.io/component: controller-manager
    app.kubernetes.io/part-of: numaplane
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: controller-manager
      app.kubernetes.io/part-of: numaplane
      app.kubernetes.io/component: controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/name: controller-manager
        app.kubernetes.io/part-of: numaplane
        app.kubernetes.io/component: controller-manager
    spec:
      # TODO(user): Uncomment the following code to configure the nodeAffinity expression
      # according to the platforms which are supported by your solution.
      # It is considered best practice to support multiple architectures. You can
      # build your manager image using the makefile target docker-buildx.
      # affinity:
      #   nodeAffinity:
      #     requiredDuringSchedulingIgnoredDuringExecution:
      #       nodeSelectorTerms:
      #         - matchExpressions:
      #           - key: kubernetes.io/arch
      #             operator: In
      #             values:
      #               - amd64
      #               - arm64
      #               - ppc64le
      #               - s390x
      #           - key: kubernetes.io/os
      #             operator: In
      #             values:
      #               - linux
      # TODO(user): For common cases that do not require escalating privileges
      # it is recommended to ensure that all your Pods/Containers are restrictive.
      # More info: https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted
      # Please uncomment the following code if your project does NOT have to work on old Kubernetes
      # versions < 1.19 or on vendors versions which do NOT support this field by default (i.e. Openshift < 4.11 ).
      # seccompProfile:
      #   type: RuntimeDefault
      initContainers:
        
        # temporary init container to patch all isbsvc on the cluster owned by ISBServiceRollout to add "promoted" label
        - name: label-isbsvc
          image: bitnami/kubectl
          command: 

            - "/bin/bash"
            - "-c"
            - |
              #!/bin/bash

              # Define the label key and value
              LABEL_KEY="numaplane.numaproj.io~1upgrade-state"
              LABEL_VALUE="promoted"

              # Get all namespaces
              namespaces=$(kubectl get namespaces -o jsonpath='{.items[*].metadata.name}')

              # Loop through each namespace
              for namespace in $namespaces; do
                echo "Processing namespace: $namespace"
                
                # Get all isbsvc in the current namespace
                interstepbuffersvcs=$(kubectl get isbsvc -n $namespace -o json | jq -r '.items[] | select(.metadata.ownerReferences[]?.kind == "ISBServiceRollout") | .metadata.name')
                
                # Loop through each isbsvc
                for isbsvc in $interstepbuffersvcs; do
                  echo "Patching isbsvc: $isbsvc in namespace: $namespace"
                  
                  # Patch the isbsvc to add the labels
                  kubectl patch isbsvc $isbsvc -n $namespace --type='merge' -p '{"metadata": {"labels": {"numaplane.numaproj.io/upgrade-state": "promoted"}}}'
                  kubectl patch isbsvc $isbsvc -n $namespace --type='merge' -p '{"metadata": {"labels": {"numaplane.numaproj.io/parent-rollout": $isbsvc}}}'
                done
              done

              echo "All interstepbufferservices have been patched."

      containers:
        - command:
            - /manager
          args:
            - --leader-elect
          image: quay.io/numaproj/numaplane-controller:latest
          name: manager
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          # TODO(user): Configure the resources accordingly based on the project requirements.
          # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
          resources:
            requests:
              cpu: 10m
              memory: 64Mi
          volumeMounts:
            - name: config-volume
              mountPath: /etc/numaplane
      serviceAccountName: numaplane-sa
      terminationGracePeriodSeconds: 10
      volumes:
        - name: config-volume
          configMap:
            name: numaplane-controller-config
