apiVersion: v1
kind: ConfigMap
metadata:
  name: numaplane-controller-usde-config
  labels:
    numaplane.numaproj.io/config: usde-config
data:
  pipelineSpecExcludedPaths: |
    - "lifecycle"
    - "limits"
    - "watermark"
  isbServiceSpecExcludedPaths: |
    - "invalid"
