apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- bases/numaplane.numaproj.io_pipelinerollouts.yaml
- bases/numaplane.numaproj.io_numaflowcontrollerrollouts.yaml
- bases/numaplane.numaproj.io_isbservicerollouts.yaml
- bases/numaplane.numaproj.io_monovertexrollouts.yaml
- bases/numaplane.numaproj.io_numaflowcontrollers.yaml
# install numaflow minimal CRDs as a dependency
- https://github.com/numaproj/numaflow/config/advanced-install/minimal-crds?ref=minimized-crd