apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- bases/numaplane.numaproj.io_pipelinerollouts.yaml
- bases/numaplane.numaproj.io_numaflowcontrollerrollouts.yaml
- bases/numaplane.numaproj.io_isbservicerollouts.yaml
