---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: pipelinerollouts.numaplane.numaproj.io
spec:
  group: numaplane.numaproj.io
  names:
    kind: PipelineRollout
    listKind: PipelineRolloutList
    plural: pipelinerollouts
    singular: pipelinerollout
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: The current phase
      jsonPath: .status.phase
      name: Phase
      type: string
    - description: The upgrade strategy currently prosessing the PipelineRollout.
        No upgrade in progress if empty
      jsonPath: .status.upgradeInProgress
      name: Upgrade In Progress
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PipelineRollout is the Schema for the pipelinerollouts API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PipelineRolloutSpec defines the desired state of PipelineRollout
            properties:
              pipeline:
                description: Pipeline includes the spec of Pipeline in Numaflow
                properties:
                  metadata:
                    properties:
                      annotations:
                        additionalProperties:
                          type: string
                        type: object
                      labels:
                        additionalProperties:
                          type: string
                        type: object
                    type: object
                  spec:
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
                required:
                - spec
                type: object
              strategy:
                description: PipelineTypeRolloutStrategy specifies the RolloutStrategy
                  for fields shared by Pipeline and MonoVertex
                properties:
                  progressive:
                    properties:
                      assessmentSchedule:
                        description: |-
                          optional string: comma-separated list consisting of:
                          assessmentDelay, assessmentPeriod, assessmentInterval
                        type: string
                      forcePromote:
                        description: if ForcePromote is set, assessment will be skipped
                          and Progressive upgrade will succeed
                        type: boolean
                    type: object
                type: object
            required:
            - pipeline
            type: object
          status:
            description: PipelineRolloutStatus defines the observed state of PipelineRollout
            properties:
              conditions:
                description: Conditions are the latest available observations of a
                  resource's current state.
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource.\n---\nThis struct is intended for
                    direct use as an array at the field path .status.conditions.  For
                    example,\n\n\n\ttype FooStatus struct{\n\t    // Represents the
                    observations of a foo's current state.\n\t    // Known .status.conditions.type
                    are: \"Available\", \"Progressing\", and \"Degraded\"\n\t    //
                    +patchMergeKey=type\n\t    // +patchStrategy=merge\n\t    // +listType=map\n\t
                    \   // +listMapKey=type\n\t    Conditions []metav1.Condition `json:\"conditions,omitempty\"
                    patchStrategy:\"merge\" patchMergeKey:\"type\" protobuf:\"bytes,1,rep,name=conditions\"`\n\n\n\t
                    \   // other fields\n\t}"
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: |-
                        type of condition in CamelCase or in foo.example.com/CamelCase.
                        ---
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions can be
                        useful (see .node.status.conditions), the ability to deconflict is important.
                        The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              lastFailureTime:
                description: LastFailureTime records the timestamp of the Last Failure
                  (PhaseFailed)
                format: date-time
                type: string
              message:
                description: Message is added if Phase is PhaseFailed.
                type: string
              nameCount:
                description: |-
                  NameCount is used as a suffix for the name of the managed pipeline, to uniquely
                  identify a pipeline.
                format: int32
                type: integer
              observedGeneration:
                description: ObservedGeneration stores the generation value observed
                  when setting the current Phase
                format: int64
                type: integer
              pauseStatus:
                description: PauseStatus is a common structure used to communicate
                  how long Pipelines are paused.
                properties:
                  lastPauseBeginTime:
                    description: The begin timestamp for the last pause of the Pipeline.
                    format: date-time
                    type: string
                  lastPauseEndTime:
                    description: The end timestamp for the last pause of the Pipeline.
                    format: date-time
                    type: string
                  lastPausePhaseChangeTime:
                    description: The transition timestamp from Pausing to Paused for
                      the last pause of the Pipeline.
                    format: date-time
                    type: string
                type: object
              phase:
                description: Phase indicates the current phase of the resource.
                enum:
                - ""
                - Pending
                - Deployed
                - Failed
                type: string
              progressiveStatus:
                description: ProgressiveStatus stores fields related to the Progressive
                  strategy
                properties:
                  promotedPipelineStatus:
                    description: PromotedPipelineStatus stores information regarding
                      the current "promoted" pipeline
                    properties:
                      allSourceVerticesScaledDown:
                        description: AllSourceVerticesScaledDown indicates if ALL
                          the promoted child source vertices have been scaled down
                        type: boolean
                      name:
                        description: Name of the promoted child
                        type: string
                      scaleValues:
                        additionalProperties:
                          description: ScaleValues stores the original scale min and
                            max values, scaleTo value, and actual scale value of a
                            pipeline or monovertex vertex
                          properties:
                            current:
                              description: Current indicates how many pods are currently
                                running for the vertex
                              format: int64
                              type: integer
                            initial:
                              description: Initial indicates how many pods were initially
                                running for the vertex at the beginning of the upgrade
                                process
                              format: int64
                              type: integer
                            originalScaleMinMax:
                              description: OriginalScaleMinMax stores the original
                                scale min and max values as JSON string
                              type: string
                            scaleTo:
                              description: ScaleTo indicates how many pods to scale
                                down to
                              format: int64
                              type: integer
                          required:
                          - current
                          - initial
                          - originalScaleMinMax
                          - scaleTo
                          type: object
                        description: |-
                          ScaleValues is a map where the keys are the promoted child source vertices names
                          and the values are the scale values of the source vertices
                        type: object
                      scaleValuesRestoredToOriginal:
                        description: |-
                          ScaleValuesRestoredToOriginal indicates if ALL the promoted child source vertices have been set back to the original min and max scale values.
                          This field being set to `true` invalidates the value(s) in the scaleValues.Actual field.
                        type: boolean
                    required:
                    - name
                    type: object
                  upgradingPipelineStatus:
                    description: UpgradingPipelineStatus represents either the current
                      or otherwise the most recent "upgrading" pipeline
                    properties:
                      assessmentEndTime:
                        description: AssessmentEndTime indicates the time after which
                          no more assessments will be performed
                        format: date-time
                        type: string
                      assessmentResult:
                        description: AssessmentResult described whether it's failed
                          or succeeded, or to be determined
                        type: string
                      assessmentStartTime:
                        description: AssessmentStartTime indicates the time at/after
                          which the assessment result will be computed
                        format: date-time
                        type: string
                      forcedSuccess:
                        description: ForcedSuccess indicates if this promotion was
                          forced to complete
                        type: boolean
                      interStepBufferServiceName:
                        type: string
                      name:
                        description: Name of the upgrading child
                        type: string
                    required:
                    - name
                    type: object
                type: object
              upgradeInProgress:
                description: UpgradeInProgress indicates the upgrade strategy currently
                  being used and affecting the resource state or empty if no upgrade
                  is in progress
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
