name: PR

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  title-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR Title's semantic conformance
        uses: Slashgear/action-check-pr-title@v4.3.0
        with:
          regexp: "(feat|fix|docs|chore): .++" # Regex the title should match.
